.Header {
    display: flex;
}

.btn-wrapper{
    margin-left: auto;
    margin-right: 224px;
}
.home {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #222222;
    border: 1px solid #222222;
    border-radius: 15px;
    margin-left: 78px;
}

.line {
    margin-left: 0;
    width: 1920px;
    border: 1px solid #222222; 
}

img {
    display: block;
    border: 1px solid black;
    height: 425px;
    width: 832px;
    margin-right: 4px;
    margin-left: auto;
}