.Header {
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
}

.btn-wrapper{
    color: #222222;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
}
.btn-current{
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background: #222222;
    border: 1px solid #222222;
    border-radius: 15px;
    margin-bottom: 15px;
}
a {
    color: inherit;
    text-decoration: none;
}
.btn-left {
    padding: 5px;
    color: #222222;
    margin-top: 15px;
    margin-right: 29px;
    position: relative;
}

.btn-left::after {
    content: " ";
    background-color: black;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}
.btn-left:hover::after {
    width: 100%;
}

.btn-center {
    padding: 5px;
    color: #222222;
    margin-right: 29px;
    margin-top: 15px;
    position: relative;
}
.btn-center::after {
    content: " ";
    background-color: black;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}
.btn-center:hover::after {
    width: 100%;
}
.line {
    width: auto;
    border: 1px solid #222222; 
}

.btn-right {
    padding: 5px;
    color: #222222;
    margin-right: 29px;
    margin-top: 15px;
    position: relative;
}
.btn-right::after {
    content: " ";
    background-color: black;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}
.btn-right:hover::after {
    width: 100%;
}
.Content {
    margin-left: 20px;
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.samphoto {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: auto;
}

.social {
    display: flex;
    align-items: center;;
    margin-bottom: 38px;
}

.icons {
    width: 32px;
    height: 32px;
    margin-right: 25px;
}

.link {
    margin-left: 5px;
}
