.Header {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
}

.body {
    background-color: #222222;
}
.btn-wrapper{
    color: #222222;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
}
.btn-right{
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background: #222222;
    border: 1px solid #222222;
    border-radius: 15px;
    margin-left: 34px;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}
.btn-left {
    color: #222222;
    margin-top: 15px;
    margin-right: 34px;
}

.btn-center {
    color: #222222;
    margin-top: 15px;
}
.line {
    width: auto;
    border: 1px solid #222222; 
}

.samphoto {
    display: block;
    border: 1px solid black;
    height: 425px;
    width: 832px;
    margin-right: 4px;
    margin-left: auto;
}

h1 {
    margin-left: 15px;
}

.Content {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.social {
    display: flex;
    align-items: center;;
    margin-bottom: 38px;
}

.icons {
    width: 32px;
    height: 32px;
    margin-right: 25px;
}

.link {
    margin-left: 5px;
}
